<ion-header><br>
  <ion-toolbar color="success">
    <ion-title>AI Update </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list class="line-input">
        <ion-item>
          <ion-label position="floating" class="ion-text-wrap">Select semen type*: </ion-label>
          <ion-select [(ngModel)]="model.semen_Type" class="owner-type" placeholder="Status">
            <ion-select-option  *ngFor="let item of semenTypeList" value="{{item}}">{{item}}</ion-select-option>
          </ion-select>
        </ion-item><br>

        <ion-item>
          <ion-label class="ion-text-wrap">Date of AI</ion-label>
          <ion-input [(ngModel)]="model.date_Of_Event" (ionChange)="showValidDate(model.date_Of_Event)" displayFormat="DD-MM-YYYY" type="date">
          </ion-input>
        </ion-item><br>
        <p style="color:red">{{errorMsg}}</p>

        <ion-item>
          <ion-label position="floating">Bull Number *: </ion-label>
          <ion-input type="text" maxlength="10" 
            [(ngModel)]="model.bull_Number" class="ion-text-right"></ion-input>
        </ion-item><br>

        <ion-item>
          <ion-label position="floating">Bull Name *: </ion-label>
          <ion-input type="text"
            [(ngModel)]="model.bull_Name" class="ion-text-right"></ion-input>
        </ion-item><br>

        <ion-button color="success"  (click)="updateAiDetailsForAnimal()" fill="outline">Update Details</ion-button>
        <ion-button color="danger" (click)="exit()" fill="outline">Exit</ion-button>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>