<ion-content class="loginPagePlacement">

  <div align="center" class="vertical-center">
    <div align="center">
      <ion-avatar>
        <ion-img src={{logoImagePath}}></ion-img>
      </ion-avatar>
    </div>
  </div>
  <div class="logo-text-box">
    <p class="logo-text">National Dairy <br>Information System</p>
    <ion-list color="success" class="line-input">
      <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">

        <ion-item>
          <ion-label position="floating">User Name: </ion-label>
          <ion-input formControlName="usr" [(ngModel)]="usr" maxlength="11" type="text" class="ion-text-left"></ion-input>
        </ion-item>
        <p id="warning" *ngIf="isSubmitted && errorControl.usr.errors?.required">
          Username is required
        </p><br>
        

        <ion-item>
          <ion-label position="floating">Password: </ion-label>
          <ion-input formControlName="pwd"[(ngModel)]="pwd" maxlength="11" type="password" class="ion-text-left"></ion-input>
        </ion-item>
        <p  id="warning" *ngIf="isSubmitted && errorControl.pwd.errors?.required">
          Password is required
        </p><br>
        

        <ion-button color="secondary" shape="round" type="submit">Sign in</ion-button>
      </form>


    </ion-list>
  </div>



</ion-content>